<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Practica 1</title>
</head>

<body>
	<h1>Mi comida y mi postre favoritos</h1>

	<h2> • C H O C O T O R T A • </h2>
	<img src="../img/chocotortapreparacion.jpg" alt="preparacion de chocotorta" height="300" width="500">


	<h3> Ingredientes</h3>
	<ul>
		<li>galletitas de chocolate</li>
		<li>dulce de leche</li>
		<li>crema de leche o queso crema</li>
		<li>cacao</li>
		<li>leche</li>
		<li>chocolate en barra o baño</li>
	</ul>

	
	<h3> Preparacion</h3>
	<iframe src="https://youtu.be/aadzlHL1lE8?si=iCitAnTZYVivE9g3" height="300" width="500"></iframe>
	<ol>
		<li>Mezclar en una taza la leche con cacao</li>
		<li>Mezclar 4 cucharadas de dulce de leche con crema de leche o queso crema, y batir hasta obtener una mezcla homogénea</li>
		<li>Luego en una fuente colocar una capa de galletas humedecidas con leche con cacao.</li>
		<li>Colocar una capa de la mezcla de crema o queso y dulce de leche.</li>
		<li>Continuar así y realizar capas a gusto, al final en la última capa, si lo prefiere, colocar chocolate rallado o baño de chocolate</li>
		<li>Llevar a la nevera de 1 a 3 horas o más para que logre mayor consistencia.</li>
	</ol>

</body>
</html>