<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Practica 1</title>
</head>

<body>
	<h1>Mi comida y mi postre favoritos</h1>

	<h2> • G N O C C H I S •</h2> 
	<img src="../img/ñoquis.jpg" alt="preparacion de ñoquis" height="300" width="500">

	<h3> Ingredientes</h3>
	<ul>
		<li>1 kg de papa</li>
		<li>300 gr de harina 0000</li>
		<li>1 huevo</li>
		<li>sal y pimienta</li>
		<li>nuez moscada</li>
	</ul>

	
	<h3> Preparacion</h3>
	<iframe src="https://youtu.be/_nz6JzpyZ88?si=gDmBfpBosS0AX3Bq" height="300" width="500"></iframe>
	<ol>
		<li>Hervir las papas con cascara para que no absorban tanta agua. Luego de que esten cocidas, pelar y preparar el pure condimentando con sal, pimienta y nuez moscada.</li>
		<li>Agregar el huevo y parte de la harina. Ir agregando a medida que el puré pide pero SIN AMASAR, solo uniendo con las manos como si fueran palitas y aplastar. No debe quedar mazacote.</li>
		<li>Formar el bollo. Debe quedar húmedo sin que se pegue a las manos. Tirar un poco de harina sobre la mesada e ir retirando pequeñas porciones de masa. Hacer las tiras de aproximadamente 1 dedo de grosor y cortar los ñoquis, más o menos cada 1 cm y 1/2. Luego pasar por la ñoquera. Ir dejándolos sobre un costado espolvoreados con harina.</li>
		<li>Cocinar los ñoquis por tandas en abundante agua salada hirviendo. Ir revolviendo con la espumadera y una vez que suben (son 3 o 4 minutos), retirar e ir poniendo en la fuente con la salsa.</li>
		<li>Servir bien calentitos con tu salsa preferida y abundante queso rallado por arriba.</li>
	</ol>

</body>
</html>